@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
}
html { 
    font-size: calc(.7em + .5vw);
    font-Family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 480px) {
	html { font-size: calc(.8em + .5vw); }
}

// @media only screen and (max-width: 600px) {
// }
// @media only screen and (min-width: 840px) {
// }
// @media only screen and (min-width: 960px) {
// @media only screen and (min-width: 1280px) {
// }

html {
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #636363; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
