// color palette

//primary
$primary_main: #5c6bc0;
$primary_light: #8e99f3;
$primary_dark: #26418f;

//secondary
$secondary_main: #7e57c2;
$secondary_light: #b085f5;
$secondary_dark: #4d2c91;

//bg
$bg_mid: #E0E1E0;
$bg_light: #F5F5F6;
$bg_dark: rgb(87, 87, 87); 


$header_height: 2.3rem;