// header and page container styles
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import './theme';


.layout-root {
  background: $bg_mid;
  height: 100vh;
  overflow: hidden;
}

.layout-body-container {
  height: calc(100vh - #{$header_height});
}

.header-root {
  height: $header_height;
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap !important;
  justify-content: space-between;
  align-items: center;

}

.header-title {
  color: white !important;
  width: fit-content;
  font-size: 1.5rem !important;
  font-family: 'Pacifico', cursive !important;
}