// sidebar styles

@import './theme';

.sidebar-root {
  max-width: 98vw;
  width: 20rem;
  background-image: linear-gradient(to top left, #{$secondary_main}, #{darken($color: $bg_dark, $amount: 5)});
  height: calc(100vh - #{$header_height});
  display: flex;
  flex-flow: row nowrap;
}

.sidebar-groups-root {
  width: 6rem;
  display: inline-block;
  // background-color: darken($color: $bg_dark, $amount: 15) !important; 
  background-image: linear-gradient(to bottom left, #{darken($color: $bg_dark, $amount: 15)}, #{darken($color: $bg_dark, $amount: 30)});
}
